/*

RESET

*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*

GENERAL

*/

.container{
    width: 1400px;
    margin: 0 auto;
}



.container-header{
    max-width: 100%;
    margin-bottom: 40px;
}

.my-row{
    display: flex;
    flex-wrap: wrap;
}

.col-1-6{
    width: calc(100% / 6);
}


.col-2-3{
    width: calc((100% / 3)*2);
}


.col-1-4{
    width: calc(100% / 4);
}





/*

HEADER

*/


header .header-top .menu > *{
    padding: 10px;
    color: white;
    background-color: rgb(251, 134, 1);
}


header .header-top .menu .logo{
    text-align: center;
}

header .header-top .menu .logo img{
   width: 105px;
   height: 25px;
}


header .header-top .menu .account{
    text-align: left;
}


header .header-top .menu .main-nav{
    text-align: right;
}



/*

MAIN

*/

main .container .my-row{
    gap: 15px;
    padding-left: 20%;
    margin-top: 7%;
}

main .container .my-row .col-1-4 .product-container img {
    width: 100%;
}

.product-container {
    position: relative;
}


.discount {
    background-color: green;
    color: white;
    padding: 3px;
    position: absolute;
    left: 38px;
    bottom: 20%;
    font-size: small;
}


.discount2 {
    background-color: red;
    color: white;
    padding: 3px;
    position: absolute;
    left: 0;
    bottom: 20%;
    font-size: small;
}

.wishlist {
    position: absolute;
    width: 15%;
    right: 0;
    top: 0;
    font-size: 2em;
    background-color: white;
    text-align: center;
    margin-top: 10px;
}


.position-left{
    padding: 3px;
    position: absolute;
    left: 0;
    bottom: 20%;
    font-size: small;
    background-color: green;
    color: white;
    
}


.new-price{
    color: red;
    
}

.old-price{
    text-decoration: line-through;

}


.second-img{
    display: none;
}


.product-container:hover .second-img{
    display:block
}

.product-container:hover .first-img{
    display: none;
}


/*

FOOTER

*/


footer .footer-bottom .footer-info-container{
    display:flex ;
    justify-content: space-between;
    align-items: center;
}



footer .footer-bottom .footer-info-container{
    display:flex ;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
}


footer{
    background-color: black;
    color: white;
    margin-top: 50px;

}









/*

DEBUG

*/



debug header .menu{
    background-color: yellow;
}

debug header .menu > *{
    outline: 2px dashed black;
}

debug main .container{
    background-color: green;
    outline: 2px dashed black;
    height: 1000px;
}

debug main .container .my-row{
    background-color: yellow;
    outline: 2px dashed black;
}


debug main .container .col-1-4{
    height: 400px;
    background-color: blueviolet;
    outline: 2px dashed black;
}


debug footer section .footer-info-container{
    height: 50px;
    background-color: yellow;
}

debug footer section .footer-info-container > *{
    background-color: blueviolet;
    outline: 2px dashed black;
    padding: 5px;
}